p {
    font-size: 50px;
    color: blueviolet;   
    background-color: black;

}
@media screen and (min-width:600px) {
.heading{

    font-size: 60px;
    color:red;
    }
}
@media screen  and (min-width:700px)and (max-width:900px){
.heading{
    font-size: 100px;
    color: hotpink;
}    
}



  